.bank {
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    label {
        margin-top: 5px;
    }
    img {
        width: 70px;
    }
    #btnBancos {
        border: 1px;
        border-radius: 30px;
        margin-bottom: 20px;
        background-color: #2B86C5;
        color: lavenderblush;
        width: 100%;
        &:hover {
            color: #2B86C5;
            background-color: lavenderblush;
            border-color: #2B86C5;
        }
    }
}

.bank ul li {
    list-style-type: none;
}

ul .listBank {
    display: none;
    justify-content: space-around;
    align-items: center;
}